In [21]:
import numpy as np
import pandas as pd

In [7]:
arr = np.array(['low','low', 'high', 'medium']).reshape(-1,1)
arr

array([['low'],
       ['low'],
       ['high'],
       ['medium']], dtype='<U6')

In [10]:
from sklearn.preprocessing import OneHotEncoder

In [17]:
enc=OneHotEncoder(sparse=False, handle_unknown='ignore')
enc.fit_transform(arr)

array([[0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.]])

In [20]:
enc.transform([['zero']])

array([[1.]])

In [22]:
pd.read_clipboard(sep=',')

              x           y  z
0    191.170317  438.118166  a
1    147.962717  398.442086  a
2    176.071308  397.040185  a
3    164.824502  414.410211  a
4    172.292826  356.732606  a
..          ...         ... ..
433  365.757988  100.774715  d
434  360.772133  126.197970  d
435  378.538022   95.603153  d
436  333.558779   94.110842  d
437  296.728682   70.695930  d

[438 rows x 3 columns]